* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

:root {
    --bg-color: #eddbf7;
    --second-bg-color: #313145;
    --text-color: #070707;
    --main-color: #ee87d8;
    --accent-color: #d32cf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(239, 235, 239, 0.2);
    border-bottom: 1px solid rgba(25, 24, 25, 0.2);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;

}

.navbar a:hover,
.navebar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);

}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;

}

.accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.accueil-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}

span {
    color: var(--main-color);
}

.logo span {
    color: var(--main-color);
}

.accueil-content h3 {
    font-size: 2rem;
    margin: 10px 0;

}

.accueil-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}

.accueil-img {
    border-radius: 50%;
}

.accueil-img img {
    position: relative;
    top: 2rem;
    width: 300px;
    border-radius: 50%;
    border: 10px solid transparent;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.accueil-img img:hover {
    border: 10px solid var(--main-color);
    transform: scale(1.05);
}

.accueil-content p {
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 500;
    max-width: 1000px;
    text-align: left;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 0.3rem solid var(--main-color);
    font-size: 3rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;

}

.social-icons a:hover {
    color: white;
    transform: scale(1.3)translateY(-5px);
    background-color: var(--main-color);

}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.btn:hover {
    transform: scale(1.05);
    background: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.apropos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
    color: white;
}

.apropos-img {
    border-radius: 50%;
}

.apropos-img img {
    border-radius: 50%;
    border: 10px solid white;
    top: 1rem;
    transition: 0.5s ease-in-out;
}

.heading {
    text-align: center;
    font-size: 5rem;
}

.apropos-content h2 {
    text-align: left;
    line-height: 1.5;
}

.apropos-content h3 {
    font-size: 2.6rem;
}

.apropos-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    word-spacing: 1rem 0 2rem;

}

.apropos-content .btn {
    background: white;
    color: var(--main-color);
    border: 3px solid var(--main-color);
}

.apropos-content .btn:hover {
    background-color: var(--main-color);
    color: white;
}


.projets {
    background: var(--bg-color);
}

.projets h2 {
    padding-bottom: 50px;
}

.projet-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}

.projet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;

}

.projet-card:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 25px var(--main-color);
    transform: scale(1.02);
}

.projet-card img {
    max-width: 300px;
    border-radius: 2em;
    object-fit: cover;
}

.projet-card h3 {
    font-size: 3rem;
}

.projet-card p {
    font-size: 1.6rem;

}

#photoshop {
    margin-top: 10rem;
}

.animate-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    transition: 0.3s ease;

}

.animate>img {
    flex: 1 0 100px;
    object-fit: cover;
    width: 100%;
    align-items: stretch;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    padding-block: 10px;

}

.card {
    flex: 1 0 400px;
    display: flex;
    flex-direction: column;
    background-color: rgba(5, 153, 202, 0);
    padding: 20px;
    align-items: stretch;
}

.card img {
    object-fit: cover;
    width: 100%;
    align-items: stretch;
}

.card h2 {
    text-align: center;
    align-items: baseline;
    font-family: "Balsamiq Sans", sans-serif;
}

.card p {
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.card .btn {
    margin-top: 20px;
    align-items: stretch;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: white;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: white;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: var(--main-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;

}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--main-color);
}

.border-3px {
    border: 3px solid var(--main-color);
}

.bg-green {
    background-color: var(--accent-color);
}

@media (max-width:1285px) {
    html {
        font: size 55%;
    }

    .services-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(2.1fr);
        margin: 0 5rem;
    }

    .home img {
        width: 32vw;
    }
}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }

}

@media(max-width:895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        border-bottom-left-radius: 2rem;
        background: white;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5em;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-content {
        margin: 0 2rem 4rem;
    }

    .about-img img {
        width: 64vw;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}